.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  margin-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.heading {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 45px;
  padding-bottom: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.heading-2:hover {
  color: #979797;
}

.div-block-3 {
  margin-top: 17px;
  margin-right: 19px;
  padding-top: 5px;
  padding-left: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
}

.div-block-4 {
  margin-left: 20px;
}

.image {
  overflow: hidden;
  max-height: none;
  -webkit-transform: translate(0px, -300px);
  -ms-transform: translate(0px, -300px);
  transform: translate(0px, -300px);
  -o-object-fit: fill;
  object-fit: fill;
}

.section-2 {
  overflow: hidden;
  max-height: 600px;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block {
  display: block;
  padding-right: 13px;
  float: right;
}

.heading-3 {
  position: absolute;
  left: 12%;
  top: 37%;
  right: auto;
  bottom: auto;
  z-index: auto;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Varela, sans-serif;
  font-size: 38px;
}

.heading-4 {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 34px;
  text-align: left;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
}

.column-2 {
  margin-top: 60px;
  padding-right: 60px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-5 {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 34px;
}

.columns-2 {
  margin-top: 75px;
}

.image-2 {
  box-shadow: 1px 1px 3px 0 #000;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph {
  margin-top: 45px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
}

.text-block-2 {
  padding-right: 15px;
  text-align: right;
}

.paragraph-2 {
  margin-top: 45px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
}

.text-block-3 {
  text-align: right;
}

.image-3 {
  box-shadow: -1px 1px 3px 0 #000;
}

.heading-6 {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 38px;
  text-align: center;
}

.section-3 {
  margin-top: 0px;
  padding-top: 85px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.image-4 {
  position: static;
  display: block;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4:hover {
  opacity: 0.72;
}

.heading-7 {
  font-family: 'IBM Plex Mono', sans-serif;
  text-align: center;
}

.heading-8 {
  font-family: 'IBM Plex Mono', sans-serif;
  text-align: center;
}

.paragraph-3 {
  max-width: 500px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.paragraph-4 {
  max-width: 500px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.div-block-6 {
  display: block;
  max-width: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.column-4 {
  padding-left: 60px;
}

.link {
  color: #333;
  text-decoration: none;
}

.link:hover {
  color: #979797;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  display: inline;
  max-width: 300px;
  margin-right: 10px;
  border-radius: 6px;
}

.text-field-2 {
  display: inline;
  max-width: 300px;
  border-radius: 5px;
}

.form {
  display: block;
  max-width: 700px;
  margin-top: -21px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  background-color: transparent;
  text-align: left;
}

.button {
  position: absolute;
  left: 12%;
  top: 48%;
  right: auto;
  bottom: auto;
  border-radius: 10px;
  background-color: #333;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
}

.button:hover {
  border: 0px solid #000;
  background-color: #333;
  opacity: 0.8;
  color: #fff;
}

.textarea {
  min-height: 150px;
  border-radius: 5px;
}

.section-4 {
  display: block;
  margin-top: 100px;
  padding-top: 45px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333;
}

.heading-9 {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #c4c4c4;
  font-size: 38px;
  text-align: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.submit-button {
  border-radius: 5px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-4 {
  margin-top: 0px;
  margin-left: 17px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #c4c4c4;
  font-size: 16px;
  text-decoration: none;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 220px;
  margin-top: 24px;
  margin-left: 62px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

@media (max-width: 991px) {
  .image {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .heading-4 {
    text-align: center;
  }
  .column {
    padding-left: 10px;
  }
  .column-2 {
    padding-right: 10px;
  }
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
  }
  .heading-5 {
    text-align: center;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .column-3 {
    padding-right: 10px;
  }
  .paragraph-2 {
    text-align: center;
  }
  .div-block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-8 {
    margin-top: 75px;
  }
  .column-4 {
    margin-top: 84px;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-3 {
    margin-top: -15px;
  }
  .div-block-10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-12 {
    max-height: none;
    min-height: 220px;
    margin-left: 180px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 479px) {
  .div-block {
    text-align: center;
  }
  .heading {
    padding-right: 0px;
    font-size: 22px;
  }
  .heading-2 {
    font-size: 14px;
  }
  .heading-3 {
    left: 6%;
    top: 27%;
    font-size: 26px;
  }
  .heading-4 {
    font-size: 26px;
  }
  .column {
    margin-top: 11px;
  }
  .heading-5 {
    font-size: 26px;
  }
  .paragraph {
    margin-top: 10px;
  }
  .heading-6 {
    font-size: 26px;
  }
  .link {
    font-size: 14px;
  }
  .form {
    margin-right: 10px;
    margin-left: 10px;
  }
  .button {
    left: 7%;
    top: 34%;
    font-size: 16px;
  }
  .heading-9 {
    font-size: 26px;
  }
  .div-block-12 {
    margin-left: 50px;
  }
}

